.search-form {
    padding: 24px;
}

.search-form input {
    width: 100%;
    padding: 16px;
    padding-left: 40px;
    background: #fff url(./SearchIcon.svg) no-repeat;
    background-position: 10px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.2);
    transition: box-shadow 0.3s ease-in;
    will-change: box-shadow; /* Melhora performance das animações ou transições */
}

.search-form input:hover,
.search-form input:focus,
.search-form input:active {
    box-shadow: 1px 2px 8px rgba(0,0,0,.6);
}