.Card {
    will-change: transform;
}

/** Animação no Hover do mouse sobre o Card **/
.Card:hover {
    transform: translateY(-2px);
}


.showUp {
    will-change: box-shadow, transform;
    animation: showUp 0.2s ease-in;
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
    }
}